*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 }

html{
    --azul-medio:#4FB9FC
}
.redes-sociales a{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info-footer{
    color:white;
}

.containerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}