body{
    background-color: aliceblue;
}

.contenedorTilulo{
    margin-top: 70px
}

.tituloCarrito{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.carritoCompra{
    color: #222;
    font-size: 45px;
    margin-right: 15px;
    align-items: center;
}


/* Formulario */


.contenedorCompras{
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 10px;
    padding-top: 20px;
    background-color: #fff;
}

.tituloCompra H3{
    text-align: center;
    font-size: 25px;
}

.divCompra {
    display: flex;
    height: 169px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.division{
    width: 100%;
    height: 1px;
    border: 1px solid #999;
}

.imagenDescripcion{
    width: 100%;
    background-color: transparent;
}

.descripcionProducto span{
    font-size: 12px;
}

.descripcionCompra{
    display: block;
    padding-block: 50px;
}

.tituloProducto span{
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.botonUnidades{
    border: 1px solid #4FB9FC;
}

.productoPrecioCompra{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.bi-trash{
    font-size: 24px;
    color: #999;
}

.resumen{
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 10px;
    padding-block: 30px;
    padding-inline: 15px;
}

.resumen .resumenCompra{
    display: block;
    font-size: 18px;
    font-weight: bolder;
    color: #333;
    padding-bottom: 7px;
}

.divisionResumen{
    width: 100%;
    height: 1px;
    border: 1px solid #999
}

.detallesCompra{
    position: sticky;
    top: 100px;
    width: 100%;
    padding: 20px;
}

.resumenPrecio{
    display: flex;
    justify-content: space-between;
    margin-block: 20px;
}

.descuentos{
    display: flex;
    justify-content: space-between;
}

.gastos, .total{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.descuentoCalculo, .gastosEnvios{
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.precioFinal{
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.realizarCompra{
    padding: 10px;
}

.continuar{
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
}

.interes{
    margin-left: 100px;
}


@media (max-width: 576px){
    .contenedor{
        justify-content: center;
    }
    .comprasDesarrollo{
        width: 95%;
        justify-content: center;
        padding: auto;
    }
    .tituloCompra H3{
        font-size: 16px;
    }
    .fotoProducto{
        display: none;
    }
    .productoPrecioCompra{
        color: #333;
        font-size: 14px;
        font-weight: bold;
    }
    .numeroProductos {
        margin-top: 65px;
    }
    .eliminar{
        margin-top: 20px;
    }
    .cambiar{
        display: none;
    }
}


@media (min-width: 576px) and (max-width:767px){
    .contenedor{
        width: 100%;
        margin: 0;
    }
    .comprasDesarrollo{
        width: 100%;
    }
    .tituloCompra H3{
        font-size: 16px;
    }
    .productoPrecioCompra{
        color: #333;
        font-size: 16px;
        font-weight: bold;
    }
    .numeroProductos{
        margin-top: 65px;
    }
}

